.suggest-container > .search-bar {
	width: 20.81em;
	height: 2.88em;
	margin: 0.44em 0 0.88em 2em;
	border-radius: 6.25em;

	display: flex;
	align-items: center;
	justify-content: center;

	background: #f7f9f8;
}
.suggest-container > .search-bar input {
	height: 100%;
	flex-grow: 1;
	border-top-right-radius: 6.25em;
	border-bottom-right-radius: 6.25em;

	border: none;
	border-style: none;
	border-color: Transparent;

	background: #f7f9f8;

	font-family: "Inter";
	font-style: normal;
	font-weight: 300;
	font-size: 0.851rem;
	line-height: 1rem;
}
.suggest-container > .search-bar input:focus {
	outline: none;
	border: none;
	border-style: none;
	border-color: Transparent;
}
