.suggest-container > .search-bar {
	display: flex;
	width: 20.81em;
	height: 2.52em;
	margin: 0.44em 2em 1.04em 0;
	border-radius: 6.25em;

	background: #f7f9f8;
}
.suggest-container > .search-bar input {
	flex-grow: 1;
	margin: 0.625 1.01;
	border: none;
	border-top-right-radius: 6.25em;
	border-bottom-right-radius: 6.25em;

	background: #f7f9f8;

	font-family: "Inter";
	font-style: normal;
	font-weight: 300;
	font-size: 0.851rem;
	line-height: 1rem;
}
