.trends-container,
.user-suggest {
	width: 20.81em;
	margin-left: 2em;
	margin-bottom: 2em;
	border-radius: 0.88em;

	background: #f7f9f8;
}
.trends-container > h1,
.user-suggest > h1 {
	margin: 0.69em 1em;

	font-family: "Inter";
	font-style: normal;
	font-weight: 700;
	font-size: 1.175rem;
	line-height: 1.44rem;
	/* identical to box height */

	color: #000000;
}
