.status-container {
	display: flex;
	justify-content: space-between;
	gap: 0.9em;

	min-height: 6em;
	border-bottom: 1px solid #f3f2f2;
	padding: 0.56em 1.06em;
}

.flex {
	display: flex;
}
.grow {
	flex-grow: 1;
}

.user-status {
	width: 2.81em;
	height: 2.81em;
	border-radius: 6.25em;
}

.user-status > .avatar-container .avatar-img {
	height: 3em;
	width: 3em;
	object-fit: cover;

	border-radius: 6.25em;
}

.form-container {
	max-width: 32.31em;
	flex-grow: 1;
}

.form > #text-input {
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	font-size: 1.5em;
	margin-bottom: 0.5em;
}

.selected-files {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}

.status-btn {
	display: flex;
	justify-content: space-between;
	margin-top: 0.5em;
}

.status-btn > input {
	padding: 0.6em 1.1em;
	border-radius: 6.25em;
	border: none;

	background: #4a9cfd;
	color: #fff;

	font-family: "Inter";
	font-style: normal;
	font-weight: 600;
	font-size: 0.96rem;
}

#text-input {
	resize: none;
	overflow: hidden;

	width: 95%;
	border: none;

	font-family: "Inter";
	font-style: normal;
	font-weight: 500;
	font-size: 1.145rem;
	line-height: 1.375rem;

	color: #a6a5a5;
}

.reply-post .current-user > .avatar-container .avatar-img {
	width: 3.06em;
	height: 3.06em;
	border-radius: 6.25em;
}

.replied-user span {
	font-family: "Inter";
	font-style: normal;
	font-weight: 500;
	font-size: 0.88rem;
	line-height: 0.88rem;

	color: #a6a5a5;
}
