{% extends "mail/layout.html" %}
{% load static %}

{% block body %}

    <!-- ====== HEADER ====== -->
    <div class="header-container">
        <header>
            <!-- Logo link and sidebar button-->
            <div class="logos flex">
                <div class="btn-3bar" role="button">
                    <img src="static/mail/media/3bars menu.svg" alt="">
                </div>
                <div class="logo-link">
                    <img src="static/mail/media/X logo.svg" alt="">
                    <img src="static/mail/media/Mailer.svg" alt="">
                </div>
            </div>

            <!-- Email search bar-->
            <div class="search-bar">
                <form action="">
                    <div class="search-form"></div>
                </form>

            </div>

            <!-- Cuurent user email -->
            <div class="current-user flex">
                <h4>{{ request.user.email }}</h4>
                <img src="" alt="">
            </div>
        </header>
    </div>

    <main>
        <!-- ======= LEFT SIDE (SIDEBAR) ======= -->
        <div class="side-bar">
            <!-- Compose New email button -->
            <div class="compose-button">
                <button class="btn-compose" id="compose">New Message</button>
            </div>

            <!-- Nav button container -->
            <div class="nav-container">
                <ul>
                    <li><button name="mailbox" class="nav-button " id="inbox">Inbox</button></li>
                    <li><button class="nav-button" id="compose">Compose</button></li>
                    <li><button name="mailbox" class="nav-button" id="sent">Sent</button></li>
                    <li><button name="mailbox" class="nav-button" id="archived">Archived</button></li>
                    <li><a class="btn btn-sm btn-outline-primary" href="{% url 'logout' %}">Log Out</a></li>
        
                </ul>
            </div>
        </div>

        <!-- ======= RIGHT SIDE (CONTENT) ======= -->
        <div class="emails-content">
            
            <!-- ==== CONTENT BODY (emails and compose view) ==== -->
            <div class="content-body">

                <!-- Emails view -->
                <div id="emails-view">
                </div>
        
                <!-- Compose view -->
                <div id="compose-view">
                    <h3>New Email</h3>
                    <form id="compose-form">
                        <div class="form-group">
                            From: <input disabled class="form-control" value="{{ request.user.email }}">
                        </div>
                        <div class="form-group">
                            To: <input id="compose-recipients" class="form-control">
                        </div>
                        <div class="form-group">
                            <input class="form-control" id="compose-subject" placeholder="Subject">
                        </div>
                        <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
                        <input type="submit" class="btn btn-primary"/>
                    </form>
                </div>    
            </div>
        </div>
    </main>
{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}