{% extends "mail/layout.html" %} {% load static %} {% block body %}

<!-- ====== HEADER ====== -->
<div class="header-container">
	<header>
		<!-- Logo link and sidebar button-->
		<div class="logos flex">
			<div
				class="btn-3bar"
				role="button"
				aria-pressed="false"
				tabindex="0"
			>
				<img src="static/icons/3bars menu.svg" alt="" />
			</div>
			<div class="logo-link">
				<img src="static/icons/X logo.svg" alt="" />
				<img src="static/icons/Mailer.svg" alt="" />
			</div>
		</div>
		<!-- Email search bar-->
		<div class="search-bar">
			<form action="">
				<div class="search-form"></div>
			</form>
		</div>

		<!-- Cuurent user email -->
		<div class="user-params flex grow justify-right">
			<div class="user-themes">
				<div id="settings-btn" class="img-container">
					<img src="static/icons/settings.svg" alt="" />
				</div>
			</div>
			<div class="user-apps">
				<div class="img-container">
					<img src="static/icons/group-apps.svg" alt="" />
				</div>
			</div>

			<div class="current-user">
				<img
					class="grow"
					src="http://127.0.0.1:8000/static/media/{{ request.user.avatar }}"
					alt=""
				/>
			</div>
		</div>
	</header>
</div>

<!-- ===== Main (Body) ===== -->
<main>
	<!-- ======= LEFT SIDE (SIDEBAR) ======= -->
	<div class="side-bar">
		<!-- Compose New email button -->
		<div class="compose-button">
			<button class="btn-compose" id="compose">New Message</button>
		</div>

		<!-- Nav button container -->
		<div class="nav-container">
			<ul>
				<li>
					<button name="mailbox" class="nav-button" id="inbox">
						<div class="button-content">
							<img src="static/icons/inbox.svg" alt="" /><span
								>Inbox</span
							>
						</div>
					</button>
				</li>
				<li>
					<button name="mailbox" class="nav-button" id="starred">
						<div class="button-content">
							<img src="static/icons/starred.svg" alt="" /><span
								>Starred</span
							>
						</div>
					</button>
				</li>
				<li>
					<button name="mailbox" class="nav-button" id="archived">
						<div class="button-content">
							<img src="static/icons/archived.svg" alt="" /><span
								>Archived</span
							>
						</div>
					</button>
				</li>
				<li>
					<button name="mailbox" class="nav-button" id="sent">
						<div class="button-content">
							<img src="static/icons/sent.svg" alt="" /><span
								>Sent</span
							>
						</div>
					</button>
				</li>
				<li>
					<button name="mailbox" class="nav-button" id="spam">
						<div class="button-content">
							<img src="static/icons/spam.svg" alt="" /><span
								>Spam</span
							>
						</div>
					</button>
				</li>
				<li>
					<button name="mailbox" class="nav-button" id="trash">
						<div class="button-content">
							<img src="static/icons/trash.svg" alt="" /><span
								>Trash</span
							>
						</div>
					</button>
				</li>

				<li>
					<a
						class="btn btn-sm btn-outline-primary"
						href="{% url 'logout' %}"
						>Log Out</a
					>
				</li>
			</ul>
		</div>
	</div>

	<!-- ======= MIDDLE SIDE(rightside) (CONTENT) ======= -->
	<div class="emails-content">
		<!-- === CONTENT BODY BUTTONS(headers)-->
		<div class="content-hearder">
			<div class="left-button">
				<div class="form-check icon-btn">
					<input
						class="form-check-input"
						type="checkbox"
						value=""
						id="flexCheckDefault"
					/>
				</div>
				<div class="icon-btn">
					<img src="static/icons/refresh.svg" alt="" class="" />
				</div>
				<div class="icon-btn">
					<img src="static/icons/more.svg" alt="" />
				</div>
			</div>
			<div class="right-button"></div>
		</div>

		<!-- ==== CONTENT BODY (emails and compose view) ==== -->
		<div class="content-body">
			<!-- Emails view -->
			<div id="emails-view"></div>

			<!-- Compose view -->
			<div id="compose-view">
				<h3>New Email</h3>
				<form id="compose-form">
					<div class="form-group">
						From:
						<input
							disabled
							class="form-control"
							value="{{ request.user.email }}"
						/>
					</div>
					<div class="form-group">
						To:
						<input id="compose-recipients" class="form-control" />
					</div>
					<div class="form-group">
						<input
							class="form-control"
							id="compose-subject"
							placeholder="Subject"
						/>
					</div>
					<div class="sent-email" id="sent-email"></div>
					<textarea
						class="form-control"
						id="compose-body"
						placeholder="Body"
					></textarea>
					<input type="submit" class="btn btn-primary" />
				</form>
			</div>
		</div>
	</div>
	<!-- ==== Little Apps ==== -->
	<div class="settings-container"></div>

	<!-- ==== Little Apps ==== -->
	<div class="apps-container"></div>
</main>
{% endblock %} {% block script %}
<script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}
