{% extends "auctions/layout.html" %} {% block body %}

<main id="main" class="toys-hobbies-page">

    <section class="category-section">
        <!-- ===== PARTIE Header ILLUSTRATION DE CATEGORY ===== -->
        <div class="category-header">
            <img src="" alt="" />
            <div class="category-header-title">
                <h1></h1>
                <p></p>
            </div>
        </div>

        <!-- ===== PARTIE NAV LINK DU BODY ===== -->
        <div class="category-body flex">
            <div class="category-navs">
                <!-- Découvertes -->
                <h5 >Découvrez</h5>
                <ul class="category-navs-ul">
                    <li class="flex space-between">
                        <a href="#"><span>Arts, antiquités</span></a><img src="static/auctions/media/expand_more.svg" alt="" />
                    </li>
                    <li class="flex space-between">
                        <a href="#"><span>Céramiques, verres</span></a><img src="static/auctions/media/expand_more.svg" alt="" />
                    </li>
                    <li class="flex space-between">
                        <a href="#"><span>Collections</span></a><img src="static/auctions/media/expand_more.svg" alt="" />
                    </li>
                    <li class="flex space-between">
                        <a href="#"><span>Jouet et Jeux</span></a><img src="static/auctions/media/expand_more.svg" alt="" />
                    </li>
                    <li class="flex space-between">
                        <a href="#"><span>Monnaies</span></a><img src="static/auctions/media/expand_more.svg" alt="" />
                    </li>
                    <li class="flex space-between">
                        <a href="#"><span>Timbres</span></a><img src="static/auctions/media/expand_more.svg" alt="" />
                    </li>
                </ul>
                <hr />

                <!-- Explorer par category -->
                <h5 class="category-navs-h5">Explorer par Catégories</h5>
                <ul class="category-navs-ul">
                    <li class="flex space-between">
                        <a href="#"><span>Arts et antiquités</span></a>
                    </li>
                    
                    <li class="flex space-between">
                        <a href="#"><span>Articles de collection</span></a>
                    </li>
                    <li class="flex space-between">
                        <a href="#"><span>Jouet et jeux</span></a>
                    </li>
                    <li class="flex space-between">
                        <a href="#"><span>Monnaies</span></a>
                    </li>
                    <li class="flex space-between">
                        <a href="#"><span>Timbres</span></a>
                    </li>
                    <li class="flex space-between">
                        <a href="#"><span>Céramiques et verres</span></a>
                    </li>
                    <li class="flex space-between">
                        <a href="#"><span>Livres anciens et de
                            collection</span></a>
                    </li>
                    <li class="flex space-between">
                        <a href="#"><span>Véhicules miniatures</span></a>
                    </li>
                </ul>
                <hr />

            </div>

            <!-- ===== PARTIE CONTENT DU BODY ===== -->
            <div class="category-content grow">

                <div class="category-explore">
                    <h3 class="explore-title">Art et antiquités<h3>
                    <ul class="explore-items">
                        <a href="#">
                            <li class="explore-item">
                                <div class="explore-item-img">
                                    <img src="" alt="" />
                                </div>
                                <span></span>
                            </li>
                        </a>
                    </ul>
                </div>

                <div class="category-explore">
                    <h3 class="explore-title">Objet de collection<h3>
                    <ul class="explore-items">
                        <a href="#">
                            <li class="explore-item">
                                <div class="explore-item-img">
                                    <img src="" alt="" />
                                </div>
                                <span></span>
                            </li>
                        </a>    
                    </ul>
                </div>
                <hr />

                <div class="category-explore">
                    <h3 class="explore-title">Luxe et accessoire<h3>
                    <ul class="explore-items">
                        <a href="#">
                            <li class="explore-item">
                                <div class="explore-item-img">
                                    <img src="" alt="" />
                                </div>
                                <span></span>
                            </li>
                        </a>    
                    </ul>
                </div>
                <hr />

                <div class="category-explore">
                    <h3 class="explore-title">Explorer par ventes thématiques<h3>
                    <div class="explore-carousel" >
                        <a class="explore-sildes" href="#">
                            <div class="slides-content">
                                <div class="slides-content-img">
                                    <img src="" alt="" />
                                </div>
                                <h6></h6>
                                <span></span>
                            </div>    
                        </a>
                    <div>    
                </div>
                <div class="category-explore">
                    <h3 class="explore-title">Explorer plus de sélections<h3>
                    <div class="explore-carousel" >
                        <a class="explore-sildes" href="#">
                            <div class="slides-content">
                                <div class="slides-content-img">
                                    <img src="" alt="" />
                                </div>
                                <h6></h6>
                                <span></span>
                            </div>    
                        </a>
                    <div>    
                </div>
                <div class="about-category"></div>
            </div>
        </div>
    </section>
</main>
{% endblock %}

