.media-inputs {
	display: flex;
	justify-content: space-between;
	gap: 1.2em;
}
.media-input,
.icon-btn-input {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

#media-input {
	display: none;
}
