{% extends "auctions/layout.html" %} {% block body %}


<section class="category-section">
	<!-- ===== PARTIE Header ILLUSTRATION DE CATEGORY ===== -->
	<div class="category-header">
		<img src="" alt="" />
		<div class="category-header-title">
			<h1></h1>
			<p></p>
		</div>
	</div>

	<!-- ===== PARTIE NAV LINK DU BODY ===== -->
	<div class="category-body flex">
		<div class="category-navs">
			<!-- Découvertes -->
			<h5 >Découvrez</h5>
			<ul class="category-navs-ul">
				<li class="flex space-between">
					<a href="#"><span>Informatique, réseau</span></a><img src="http://localhost:8000/static/auctions/media/expand_more.svg" alt="" />
				</li>
				<li class="flex space-between">
					<a href="#"><span>Téléphonie, mobilité</span></a><img src="http://localhost:8000/static/auctions/media/expand_more.svg" alt="" />
				</li>
				<li class="flex space-between">
					<a href="#"><span>Matériel audio et video</span></a><img src="http://localhost:8000/static/auctions/media/expand_more.svg" alt="" />
				</li>
				<li class="flex space-between">
					<a href="#"><span>Jeux video, consoles</span></a><img src="http://localhost:8000/static/auctions/media/expand_more.svg" alt="" />
				</li>
				<li class="flex space-between">
					<a href="#"><span>Photo, caméscopes</span></a><img src="http://localhost:8000/static/auctions/media/expand_more.svg" alt="" />
				</li>
			</ul>
			<hr />

			<!-- Explorer par category -->
			<h5 class="category-navs-h5">Explorer par Catégories</h5>
			<ul class="category-navs-ul">
				<li class="flex space-between">
					<a href="#"><span>Téléphonie et mobilité</span></a>
				</li>
				
				<li class="flex space-between">
					<a href="#"><span>Matériel audio et video</span></a>
				</li>
				<li class="flex space-between">
					<a href="#"><span>Informatique et réseau</span></a>
				</li>
				<li class="flex space-between">
					<a href="#"><span>Jeux vidéo et consoles</span></a>
				</li>
				<li class="flex space-between">
					<a href="#"><span>Photot et caméscopes</span></a>
				</li>
			</ul>
			<hr />

            <h5 class="category-navs-h5">Autres</h5>
			<ul class="category-navs-ul">
				<li class="flex space-between">
					<a href="#"><span>Reconditionné</span></a>
				</li>
				
				<li class="flex space-between">
					<a href="#"><span>Drônes</span></a>
				</li>
			</ul>
			<hr />

            <h5 class="category-navs-h5">Promotions</h5>
			<ul class="category-navs-ul">
				<li class="flex space-between">
					<a href="#"><span>Bons Plans Tech</span></a>
				</li>
			</ul>
			<hr />

            <h5 class="category-navs-h5">Occasions</h5>
			<ul class="category-navs-ul">
				<li class="flex space-between">
					<a href="#"><span>Recyclage smartphone</span></a>
				</li>
				<li class="flex space-between">
					<a href="#"><span>Recyclage appareils photo et caméscopes</span></a>
				</li>
				<li class="flex space-between">
					<a href="#"><span>Vendez sur ebay</span></a>
				</li>
			</ul>
			<hr />

		</div>

		<!-- ===== PARTIE CONTENT DU BODY ===== -->
		<div class="category-content grow">

			<div class="category-explore">
                <h3 class="explore-title">Explorer par catégorie<h3>
                <ul class="explore-items">
                    <a href="#">
                        <li class="explore-item">
                            <div class="explore-item-img">
                                <img src="" alt="" />
                            </div>
                            <span>Téléphones mobile</span>
                        </li>
                    </a>
                    <a href="#">
                        <li class="explore-item">
                            <div class="explore-item-img">
                                <img src="" alt="" />
                            </div>
                            <span>Informatique et réseaux</span>
                        </li>
                    </a>
                    <a href="#">
                        <li class="explore-item">
                            <div class="explore-item-img">
                                <img src="" alt="" />
                            </div>
                            <span>Jeux vidéos et console</span>
                        </li>
                    </a>
                    <a href="#">
                        <li class="explore-item">
                            <div class="explore-item-img">
                                <img src="" alt="" />
                            </div>
                            <span>Appareils photo et caméscope</span>
                        </li>
                    </a>
                    <a href="#">
                        <li class="explore-item">
                            <div class="explore-item-img">
                                <img src="" alt="" />
                            </div>
                            <span>Casques et écouteurs</span>
                        </li>
                    </a>
                    <a href="#">
                        <li class="explore-item">
                            <div class="explore-item-img">
                                <img src="" alt="" />
                            </div>
                            <span>Casques et écouteurs</span>
                        </li>
                    </a>
                    <a href="#">
                        <li class="explore-item">
                            <div class="explore-item-img">
                                <img src="" alt="" />
                            </div>
                            <span>Enceintes et équipements audio</span>
                        </li>
                    </a>
                    <a href="#">
                        <li class="explore-item">
                            <div class="explore-item-img">
                                <img src="" alt="" />
                            </div>
                            <span>Accessoires pour téléphones portable</span>
                        </li>
                    </a>
                    <a href="#">
                        <li class="explore-item">
                            <div class="explore-item-img">
                                <img src="" alt="" />
                            </div>
                            <span>Tablettes</span>
                        </li>
                    </a>
                    <a href="#">
                        <li class="explore-item">
                            <div class="explore-item-img">
                                <img src="" alt="" />
                            </div>
                            <span>Imprimante</span>
                        </li>
                    </a>
                    <a href="#">
                        <li class="explore-item">
                            <div class="explore-item-img">
                                <img src="" alt="" />
                            </div>
                            <span>Télévisions</span>
                        </li>
                    </a>
                </ul>
            </div>

			<div class="category-explore">
                <h3 class="explore-title">Objet de collection<h3>
                <ul class="explore-items">
                    <a href="#">
                        <li class="explore-item">
                            <div class="explore-item-img">
                                <img src="" alt="" />
                            </div>
                            <span></span>
                        </li>
                    </a>    
                </ul>
            </div>
            <hr />

            <div class="category-explore">
                <h3 class="explore-title">Luxe et accessoire<h3>
                <ul class="explore-items">
                    <a href="#">
                        <li class="explore-item">
                            <div class="explore-item-img">
                                <img src="" alt="" />
                            </div>
                            <span></span>
                        </li>
                    </a>    
                </ul>
            </div>
            <hr />

            <div class="category-explore">
                <h3 class="explore-title">Explorer par marques<h3>
                <div class="explore-carousel" >
                    <a class="explore-sildes" href="#">
                        <div class="slides-content">
                            <div class="slides-content-img">
                                <img src="" alt="" />
                            </div>
                            <h6></h6>
                            <span></span>
                        </div>    
                    </a>
                <div>    
            </div>
            <div class="category-explore">
                <h3 class="explore-title">Explorer plus de sélections<h3>
                <div class="explore-carousel" >
                    <a class="explore-sildes" href="#">
                        <div class="slides-content">
                            <div class="slides-content-img">
                                <img src="" alt="" />
                            </div>
                            <h6></h6>
                            <span></span>
                        </div>    
                    </a>
                <div>    
            </div>
			<div class="about-category"></div>
		</div>
	</div>
</section>

{% endblock %}

