{% extends "auctions/layout.html" %} {% block body %}

<main class="homepage" id="main">
	<section class="suggestions-container">
		<div class="suggest-carousel">
			{% for suggest in suggestions %}
			<div class="suggest-slide">
				<img src="{{ suggest.image.url }}" alt="" />
				<div class="discovery-container suggest-discovery">
					<div href="#" class="discovery-title">
						<h2 class="">Sélection artistes contemporains</h2>
					</div>
					<div class="discovery-slogan">
						<span>Des oeuvres et le meilleur des talents</span>
					</div>
					<div class="suggest-discover-btn flex">
						<span>Découvrez</span>
						<img
							class="suggest-discover-img"
							src="static/auctions/media/arrow_forward.svg"
							alt=""
						/>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>

	</section>
	<section class="discount-section">
		{% if is_viewed_listings %}

			<h3 class="no-margin">
				Your recently viewed items
			</h3>

			<ul class="item-list grow no-margin negative-left grid-scaled">
				{% for viewed_listing in user_viewed_listings %}
				<li class="grid-items-scaled flex column">
					<div class="list-item scale-zoom">
						<a href="{% url 'listing-page' viewed_listing.listing.id %}">
							<div class="img-wrapper scale-zoom2">
								<img
									src="{{ viewed_listing.listing.image.url }}"
									alt=""
								/></div
						></a>
						<div class="item-details">
							<a
								class="title-link"
								href="{% url 'listing-page' viewed_listing.listing.id %}"
								>{{ viewed_listing.listing.title }}</a
							>
							{% if viewed_listing.listing.winning_bid.bid > viewed_listing.listing.starting_bid %}
							<span>${{ viewed_listing.listing.winning_bid.bid }}</span>
							{% else %}
							<span>${{ viewed_listing.listing.starting_bid }}</span>
							{% endif %}
						</div>
					</div>
				</li>
				{% endfor %}
			</ul>
		{% endif %}
		<div class="discount-wrapper flex space space-between">
			<div class="discount-slogan">
				<h2>Cheer on your team</h2>
				<span>support women soccer with fan gear, trading cards and more</span>
			</div>
			<a href="#" class="discount-btn flex gap2">
				<span>Shop {% now "DATE_FORMAT" %}</span>
				<img src="static/auctions/media/arrow_forward1.svg" alt="" />
			</a>
		</div>
	</section>


	<section class="categories-section">

		<a href class="no-margin">
			<span>
				Trending Categories
			</span>
			<span>
				<span class="categAll">See all <img src="static/auctions/media/arrow_forward1.svg" alt=""/></span>
			</span>
		</a>

		<ul id="categories" class="carousel-list">
			{% for category in categories %}
			<li class="category-item">
				<a
					href="{% url 'category' category.name %}"
					class="carousel-container"
				>
					<div class="category-img carousel">
						{% for image_url in category.images %}
						<div class="slide">
							<img src="{{ image_url.url }}" alt="" />
						</div>
						{% endfor %}
					</div>
				</a>
				<span>{{ category.name }}</span>
			</li>
			{% endfor %}
		</ul>

		<div class="flex gap1">
			<div class="discovery-container">
				<a href="#" class="discovery-title">
					<h2 class="">Sélection artistes contemporains</h2>
				</a>
				<div class="discovery-slogan">
					<span>Des oeuvres et le meilleur des talents</span>
				</div>
				<div class="discover-btn flex" id="discover-btn">
					<span>Découvrez</span>
					<img
						class="discover-img"
						id="discover-img"
						src="static/auctions/media/arrow_forward.svg"
						alt=""
					/>
				</div>
			</div>
			<ul class="item-list grow">
				{% for listing in active_listing %}
				<li class="flex column">
					<div class="list-item scale-zoom">
						<a href="{% url 'listing-page' listing.id %}">
							<div class="img-wrapper scale-zoom2">
								<img
									src="{{ listing.image.url }}"
									alt=""
								/></div
						></a>
						<div class="item-details">
							<a
								class="title-link"
								href="{% url 'listing-page' listing.id %}"
								>{{ listing.title }}</a
							>
							{% if listing.winning_bid.bid > listing.starting_bid %}
							<span>${{ listing.winning_bid.bid }}</span>
							{% else %}
							<span>${{ listing.starting_bid }}</span>
							{% endif %}

						</div>
					</div>
				</li>
				{% endfor %}
			</ul>
		</div>
	</section>

	<section class="futCard-section">
		<a href class="no-margin">
			<span>
				Best of Fifa FUT cards
			</span>
			<span>
				<span class="categAll">See all <img src="static/auctions/media/arrow_forward1.svg" alt=""/></span>
			</span>
		</a>


		<ul class="item-list grow no-margin negative-left grid-scaled">
			{% for listing in active_listing %}
			<li class="grid-items-scaled flex column">
				<div class="list-item scale-zoom">
					<a href="{% url 'listing-page' listing.id %}">
						<div class="img-wrapper scale-zoom2">
							<img
								src="{{ listing.image.url }}"
								alt=""
							/></div
					></a>
					<div class="item-details">
						<a
							class="title-link"
							href="{% url 'listing-page' listing.id %}"
							>{{ listing.title }}</a
						>
						{% if listing.winning_bid.bid > listing.starting_bid %}
						<span>${{ listing.winning_bid.bid }}</span>
						{% else %}
						<span>${{ listing.starting_bid }}</span>
						{% endif %}
					</div>
				</div>
			</li>
			{% endfor %}
		</ul>
</main>
{% endblock %}
