{% extends "auctions/layout.html" %} {% block body %}

<main class="homepage" id="main">
	<section class="suggestions-container">
		<div class="suggest-carousel">
			{% for suggest in suggestions %}
			<div class="suggest-slide">
				<img src="{{ suggest.image.url }}" alt="" />
				<div class="discovery-container suggest-discovery">
					<div href="#" class="discovery-title">
						<h2 class="">Sélection artistes contemporains</h2>
					</div>
					<div class="discovery-slogan">
						<span>Des oeuvres et le meilleur des talents</span>
					</div>
					<div class="suggest-discover-btn flex">
						<span>Découvrez</span>
						<img
							class="suggest-discover-img"
							src="static/auctions/media/arrow_forward.svg"
							alt=""
						/>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</section>
	<section>
		<ul id="categories" class="carousel-list">
			{% for category in categories %}
			<li class="category-item">
				<a
					href="{% url 'category' category.name %}"
					class="carousel-container"
				>
					<div class="category-img carousel">
						{% for image_url in category.images %}
						<div class="slide">
							<img src="{{ image_url.url }}" alt="" />
						</div>
						{% endfor %}
					</div>
				</a>
				<span>{{ category.name }}</span>
			</li>
			{% endfor %}
		</ul>

		<div class="flex gap1">
			<div class="discovery-container">
				<a href="#" class="discovery-title">
					<h2 class="">Sélection artistes contemporains</h2>
				</a>
				<div class="discovery-slogan">
					<span>Des oeuvres et le meilleur des talents</span>
				</div>
				<div class="discover-btn flex" id="discover-btn">
					<span>Découvrez</span>
					<img
						class="discover-img"
						id="discover-img"
						src="static/auctions/media/arrow_forward.svg"
						alt=""
					/>
				</div>
			</div>
			<ul class="item-list grow">
				{% for listing in active_listing %}
				<li>
					<div class="list-item scale-zoom">
						<a href="{% url 'listing-page' listing.id %}">
							<div class="img-wrapper scale-zoom2">
								<img
									src="{{ listing.image.url }}"
									alt=""
								/></div
						></a>
						<div class="item-details">
							<a
								class="title-link"
								href="{% url 'listing-page' listing.id %}"
								>{{ listing.title }}</a
							>
							<span>${{ listing.starting_bid }}</span>
						</div>
					</div>
				</li>
				{% endfor %}
			</ul>
		</div>
	</section>
</main>
{% endblock %}
