{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{% block title %}Auctions{% endblock %}</title>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
			integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
			crossorigin="anonymous"
		/>
		<link href="{% static 'auctions/styles.css' %}" rel="stylesheet" />
	</head>
	<body>
		<div class="flex space-between">
			<div class="heading-nav-left flex align-center gap1">
				<span class="auctions-user">
					{% if user.is_authenticated %} Bonjour
					<strong>{{ user.username }}</strong>. {% else %} Bonjour
					<a href="#">Connectez-vous</a>
					{%endif %}
				</span>
				<a href="#">Auctions estilation</a>
				<a href="#">Bon Plans</a>

				<a href="#">Aide</a>
				<a href="{% url 'category' enchere %}" class="carte-enchere">
					<img
						src="http://localhost:8000/static/auctions/media/enchere carte btn.svg"
						alt=""
					/>
				</a>
			</div>
			<div class="heading-nav-right flex align-center gap1">
				<a href="#">Vendre</a>
				<a href="#">Objet-suivis</a>
				<a href="#">Mon Auctions</a>
				<a href="#"
					><img
						src="http://localhost:8000/static/auctions/media/circle_notifications.svg"
						alt=""
				/></a>
				<a href="#"
					><img
						src="http://localhost:8000/static/auctions/media/shopping_cart.svg"
						alt=""
				/></a>
			</div>
		</div>
		<hr class="hr-line1" />

		<header>
			<div class="header-wrapper flex gap2">
				<a href="{% url 'index' %}" class="auction-logo">
					<img
						src="http://localhost:8000/static/auctions/media/auctions.svg"
						alt=""
					/>
				</a>

				<form
					class="grow flex gap3 align-center"
					action=""
					method="get"
				>
					{% csrf_token %}
					<div class="search-bar grow">
						<img
							src="http://localhost:8000/static/auctions/media/search.svg"
							alt=""
						/>
						<input
							type="text"
							name="q"
							class="search-input"
							placeholder="Search on ebay"
						/>
						<div class="search-category">
							<select name="search-category">
								<option value="All categories">
									All categories
								</option>
								<option value="art">Collectibles / art</option>
								<option value="electronics">Electronics</option>
								<option value="fashion">Fashion</option>
								<option value="home">Home / garden</option>
								<option value="automobile">
									Auto Parts / Accessories
								</option>
								<option value="musical">
									Musical instruments / gear
								</option>
								<option value="sports">Sporting good</option>
								<option value="toys">Toys / hobbies</option>
							</select>
						</div>
					</div>
					<div class="submit-search">
						<input type="submit" name="submit" value="search" />
					</div>
				</form>
				<div class="deep-search">
					<span>Advanced Search</span>
				</div>
			</div>
			<hr class="hr-line" />
		</header>

		<ul class="nav topnav">
			<li class="nav-item">
				<a class="nav-link active" href="{% url 'index' %}"
					><span>Active Listings</span></a
				>
			</li>
			{% if user.is_authenticated %}
			<li class="nav-item">
				<a class="nav-link" href="{% url 'new_listing' %}"
					><span>Create listing</span></a
				>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'watched' %}"
					><span>Watchlist</span></a
				>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'logout' %}"
					><span>Log Out</span></a
				>
			</li>
			{% else %}
			<li class="nav-item">
				<a class="nav-link" href="{% url 'login' %}"
					><span>Log In</span></a
				>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'register' %}"
					><span>Register</span></a
				>
			</li>
			{% endif %}
			<hr style="margin: 0" />
		</ul>
		{% block body %} {% endblock %}

		<footer>
			<div class="footer-container">
				<div class="footer-content">
					<h4></h4>
					<ul>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
					</ul>
				</div>

				<div class="footer-content"></div>
				<div class="footer-content"></div>

				<div class="footer-content"></div>
			</div>
		</footer>
		<!-- ======= JAVASCRIPT SECTION ======-->
		<!-- Bootsrap5 JS-->
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
			integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
			crossorigin="anonymous"
		></script>
		<script src="{% static 'auctions/home.js' %}"></script>

		<!-- Jquery -->
	</body>
</html>
