{% extends "auctions/layout.html" %}

{% block body %}
    <div class="listing-container">
        <div class="img-wrapper">
            <img src="{{ listing.image.url }}" alt="">
        </div>
        <div class="listing-details-page">
            <div>
                <strong>{{ listing.title }}</strong>
                <br>
                {{ listing.category }}
            </div>
            <div>
                {{ listing.description }}
            </div>
            <div>
                ${{ listing.starting_bid }}
            </div>
        </div>
    </div>

{% endblock %}

