{% extends "auctions/layout.html" %} {% block body %}


<main id="main" class="category category-section">
	<!-- ===== PARTIE Header ILLUSTRATION DE CATEGORY ===== -->
	<div class="category-header">
        <img 
            src="http://localhost:8000/static/auctions/media/motors-icons/motors-header-illus.svg" 
            alt="" />
    <div class="category-header-title text-color-blue">
			<h1>Auto, Moto</h1>
			<p>Toutes les pièces détachées pour votre
                véhicules</p>
		</div>
	</div>

	<!-- ===== PARTIE NAV LINK DU BODY ===== -->
	<div class="category-body flex">
		<div class="category-navs">
			<!-- Découvertes -->
			<h5 >Mon Garage</h5>
			<ul class="category-navs-ul">
				<li class="flex space-between">
					<a href="#"><span>Rechercher les pièces 
                            compatibles avec votre
                            véhicule</span></a>
				</li>
			</ul>
			<hr />

			<!-- Explorer par category -->
			<h5 class="category-navs-h5">Service de montage de pneu</h5>
			<ul class="category-navs-ul">
				<li class="flex space-between">
					<a href="#"><span>Des pneus livrés et montés en
                        centre feu vert près de chez 
                        vous</span></a>
				</li>
			</ul>
			<hr />

			<h5 class="category-navs-h5">Auto</h5>
			<ul class="category-navs-ul">
				<li class="flex space-between">
					<a href="#"><span>Pièces détachées</span></a>
				</li>
				<li class="flex space-between">
					<a href="#"><span>Carrosserie</span></a>
				</li>
				<li class="flex space-between">
					<a href="#"><span>Accessoires</span></a>
				</li>
				<li class="flex space-between">
					<a href="#"><span>Tuning</span></a>
				</li>
				<li class="flex space-between">
					<a href="#"><span>Pneumatiques et jantes</span></a>
				</li>
				<li class="flex space-between">
					<a href="#"><span>Huiles, lubrifiants et liquides</span></a>
				</li>
				<li class="flex space-between">
					<a href="#"><span>Suspension, direction</span></a>
				</li>
				<li class="flex space-between">
					<a href="#"><span>Optiques, feux, clignotants</span></a>
				</li>
				<li class="flex space-between">
					<a href="#"><span>Moteurs, pièces moteurs</span></a>
				</li>				
                <li class="flex space-between">
					<a href="#"><span>Transmission</span></a>
				</li>
			</ul>
			<hr />


			<h5 class="category-navs-h5">Auto</h5>
			<ul class="category-navs-ul">
				<li class="flex space-between">
					<a href="#"><span>Pièces détachées</span></a>
				</li>
				<li class="flex space-between">
					<a href="#"><span>Accessoires</span></a>
				</li>
				<li class="flex space-between">
					<a href="#"><span>Casques et vêtements</span></a>
				</li>
				<li class="flex space-between">
					<a href="#"><span>Huiles, lubrifiants et liquides</span></a>
				</li>
				<li class="flex space-between">
					<a href="#"><span>Systemeè d'échappement</span></a>
				</li>
			</ul>
			<hr />
		</div>

		<!-- ===== PARTIE CONTENT DU BODY ===== -->
		<div class="category-content grow">
            <div class="motors-div flex gap1">
                <div class="motors-illustrations motors-moto">
                    <div class="motors-h1">
                        <h2>Tout pour votre moto</h2>
                        <p>Des pièces aux accessoires</p>
                        
                    </div>
                    <button class="motors-btn">Je découvre</button>
                </div>
                <div class="motors-illustrations motors-auto">
                    <div class="motors-h1">
                        <h2>Equiper votre véhicules
                            pour l'été</h2>
                        <p>Toutes nos sélections auto</p>
                        
                    </div>
                    <button class="motors-btn">Je découvre</button>
                </div>
            </div>
			<div class="category-explore">
                <h3 class="explore-title">Auto<h3>
                <ul class="explore-items">
                    <a href="#">
                        <li class="explore-item">
                            <div class="explore-item-img">
                                <img 
                                    src="http://localhost:8000/static/auctions/media/motors-icons/pièces détachées.svg" 
                                    alt="" />
                            </div>
                            <span>Pièces détachées</span>
                        </li>
                    </a>    
                    <a href="#">
                        <li class="explore-item">
                            <div class="explore-item-img">
                                <img 
                                    src="http://localhost:8000/static/auctions/media/motors-icons/carrosserie.svg" 
                                    alt="" />
                            </div>
                            <span>Carrosserie</span>
                        </li>
                    </a>    
                    <a href="#">
                        <li class="explore-item">
                            <div class="explore-item-img">
                                <img 
                                    src="http://localhost:8000/static/auctions/media/motors-icons/accessoires voiture.svg" 
                                    alt="" />
                            </div>
                            <span>Accessoires</span>
                        </li>
                    </a>    
                    <a href="#">
                        <li class="explore-item">
                            <div class="explore-item-img">
                                <img 
                                    src="http://localhost:8000/static/auctions/media/motors-icons/tunning.svg" 
                                    alt="" />
                            </div>
                            <span>Tuning</span>
                        </li>
                    </a>    
                    <a href="#">
                        <li class="explore-item">
                            <div class="explore-item-img">
                                <img 
                                    src="http://localhost:8000/static/auctions/media/motors-icons/pneumatique et jantes.svg" 
                                    alt="" />
                            </div>
                            <span>Pneumatiques et jantes</span>
                        </li>
                    </a>    
                    <a href="#">
                        <li class="explore-item">
                            <div class="explore-item-img">
                                <img 
                                    src="http://localhost:8000/static/auctions/media/motors-icons/huiles lubrifiants voiture.svg" 
                                    alt="" />
                            </div>
                            <span>Huiles, lubrifiants et liquides</span>
                        </li>
                    </a>    
                    <a href="#">
                        <li class="explore-item">
                            <div class="explore-item-img">
                                <img 
                                    src="http://localhost:8000/static/auctions/media/motors-icons/suspension.svg" 
                                    alt="" />
                            </div>
                            <span>Suspension, direction</span>
                        </li>
                    </a>    
                    <a href="#">
                        <li class="explore-item">
                            <div class="explore-item-img">
                                <img 
                                    src="http://localhost:8000/static/auctions/media/motors-icons/optique feux clignotant.svg" 
                                    alt="" />
                            </div>
                            <span>Optiques, feux, clignotants</span>
                        </li>
                    </a>    
                    <a href="#">
                        <li class="explore-item">
                            <div class="explore-item-img">
                                <img 
                                    src="http://localhost:8000/static/auctions/media/motors-icons/moteurs voitures.svg" 
                                    alt="" />
                            </div>
                            <span>Moteurs, pièces moteurs</span>
                        </li>
                    </a>    
                    <a href="#">
                        <li class="explore-item">
                            <div class="explore-item-img">
                                <img 
                                    src="http://localhost:8000/static/auctions/media/motors-icons/transmission.svg" 
                                    alt="" />
                            </div>
                            <span>Transmission</span>
                        </li>
                    </a>    
                </ul>
            </div>
            <hr />

            <div class="category-explore">
                <h3 class="explore-title">Moto<h3>
                <ul class="explore-items">
                    <a href="#">
                        <li class="explore-item">
                            <div class="explore-item-img">
                                <img 
                                    src="http://localhost:8000/static/auctions/media/motors-icons/pièces détachées moto.svg" 
                                    alt="" />
                            </div>
                            <span>Pièces détachées</span>
                        </li>
                    </a>    
                    <a href="#">
                        <li class="explore-item">
                            <div class="explore-item-img">
                                <img 
                                    src="http://localhost:8000/static/auctions/media/motors-icons/accessoires moto.svg" 
                                    alt="" />
                            </div>
                            <span>Accessoires</span>
                        </li>
                    </a>    
                    <a href="#">
                        <li class="explore-item">
                            <div class="explore-item-img">
                                <img 
                                    src="http://localhost:8000/static/auctions/media/motors-icons/casque et vêtements.svg" 
                                    alt="" />
                            </div>
                            <span>Casques et vêtements</span>
                        </li>
                    </a>  
					<a href="#">
                        <li class="explore-item">
                            <div class="explore-item-img">
                                <img 
                                    src="http://localhost:8000/static/auctions/media/motors-icons/huilles lubrifiants moto.svg" 
                                    alt="" />
                            </div>
                            <span>Huiles, lubrifiants et 
								liquides</span>
                        </li>
                    </a>    
                    <a href="#">
                        <li class="explore-item">
                            <div class="explore-item-img">
                                <img 
                                    src="http://localhost:8000/static/auctions/media/motors-icons/système d'échappement.svg" 
                                    alt="" />
                            </div>
                            <span>Systèmes d'échappement</span>
                        </li>
                    </a>      
                </ul>
            </div>
            <hr />

			<div class="category-explore">
				<h3 class="explore-title">Explorer par marques<h3>
                <ul class="explore-items">
                    <a href="#">
                        <li class="explore-item">
                            <div class="explore-item-img">
                                <img 
                                    src="http://localhost:8000/static/auctions/media/motors-icons/bosh.svg" 
                                    alt="" />
                            </div>
                            <span>Bosh</span>
                        </li>
                    </a>
					<a href="#">
                        <li class="explore-item">
                            <div class="explore-item-img">
                                <img 
                                    src="http://localhost:8000/static/auctions/media/motors-icons/wynn's.svg" 
                                    alt="" />
                            </div>
                            <span>Wynn's</span>
                        </li>
                    </a>
					<a href="#">
                        <li class="explore-item">
                            <div class="explore-item-img">
                                <img 
                                    src="http://localhost:8000/static/auctions/media/motors-icons/musher.svg" 
                                    alt="" />
                            </div>
                            <span>Mush</span>
                        </li>
                    </a>
                    <a href="#">
                        <li class="explore-item">
                            <div class="explore-item-img">
                                <img 
                                    src="http://localhost:8000/static/auctions/media/motors-icons/clas.svg" 
                                    alt="" />
                            </div>
                            <span>CLAS</span>
                        </li>
                    </a>
                    <a href="#">
                        <li class="explore-item">
                            <div class="explore-item-img">
                                <img 
                                    src="http://localhost:8000/static/auctions/media/motors-icons/feu vert.svg" 
                                    alt="" />
                            </div>
                            <span>Feu vert</span>
                        </li>
                    </a>
                    <a href="#">
                        <li class="explore-item">
                            <div class="explore-item-img">
                                <img 
                                    src="http://localhost:8000/static/auctions/media/motors-icons/hella.svg" 
                                    alt="" />
                            </div>
                            <span>Hella</span>
                        </li>
                    </a>
                    <a href="#">
                        <li class="explore-item">
                            <div class="explore-item-img">
                                <img 
                                    src="http://localhost:8000/static/auctions/media/motors-icons/motul.svg" 
                                    alt="" />
                            </div>
                            <span>Motul</span>
                        </li>
                    </a>

                    <a href="#">
                        <li class="explore-item">
                            <div class="explore-item-img">
                                <img 
                                    src="http://localhost:8000/static/auctions/media/motors-icons/skf.svg" 
                                    alt="" />
                            </div>
                            <span>SKF</span>
                        </li>
                    </a>
					<a href="#">
                        <li class="explore-item">
                            <div class="explore-item-img">
                                <img 
                                    src="http://localhost:8000/static/auctions/media/motors-icons/faurecia.svg" 
                                    alt="" />
                            </div>
                            <span>Faurecia</span>
                        </li>
                    </a>
                    <a href="#">
                        <li class="explore-item">
                            <div class="explore-item-img">
                                <img 
                                    src="http://localhost:8000/static/auctions/media/motors-icons/valeo.svg" 
                                    alt="" />
                            </div>
                            <span>Valeo</span>
                        </li>
                    </a>
                </ul>
            </div>
            <div class="flex column gap7">
                <div class="motors-illust motors-piece">
                    <div class="motors-illust-h1 flex column">
                        <h2>Vérifiez la compatibilité des pièces
                            détachées avec votre véhicule</h2>
                        <button class="motors-illust1-btn">Je découvre</button>
                    </div>
                </div>
                <div class="motors-illust motors-pneu">
                    <div class="motors-illust-h2 flex column">
                        <h2>Trouvez le pneu parfait
                            en renseignant les détails 
                            de votre véhicule</h2>
                        <button class="motors-illust2-btn">Je découvre</button>
                    </div>
                </div>
            </div>

			<div class="about-category"></div>
		</div>
	</div>
</main>

{% endblock %}

