{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{% block title %}Auctions{% endblock %}</title>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
			integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
			crossorigin="anonymous"
		/>
		<link href="{% static 'auctions/styles.css' %}" rel="stylesheet" />
	</head>
	<body>
		{% if message %}
		<div>{{ message }}</div>
		{% endif %}
		<main class="register-page" id="main">
			<div class="register-h1 flex space-between">
				<a href="{% url 'index' %}" class="auction-logo-auth">
					<img
						src="http://localhost:8000/static/auctions/media/auctions.svg"
						alt=""
					/>
				</a>
				<span
					>Déjà membre?
					<a href="{% url 'login' %}">Se connecter</a></span
				>
			</div>
			<div class="register-container">
				<div class="register">
					<div class="register-header">
						<h1>Créer un compte</h1>
						<div class="flex justify-center align-center">
							<div class="account-type flex gap10">
								<div class="flex align-center gap3">
									<input
										type="radio"
										id="particulier"
										name="accountType"
										value="particulier"
										checked
									/>
									<label for="partculier"
										>Compte particulier</label
									>
								</div>
								<div class="flex align-center gap3">
									<input
										type="radio"
										id="professionnel"
										name="accountType"
										value="professionnel"
									/>
									<label for="professionnel"
										>Compte professionnel</label
									>
								</div>
								<img src="" alt="" />
							</div>
						</div>
					</div>
					<div class="register-body flex gap0">
						<form action="{% url 'register' %}" method="post">
							{% csrf_token %}
							<div class="flex space-between">
								<input
									class="myform-control1"
									autofocus
									type="text"
									name="firstname"
									id="firstname"
									placeholder="Prénom"
								/>
								<input
									class="myform-control1"
									autofocus
									type="text"
									name="lastname"
									id="lastname"
									placeholder="Nom"
								/>
							</div>
							<div class="">
								<input
									class="myform-control"
									type="email"
									name="email"
									id="email"
									placeholder="Email Address"
								/>
							</div>
							<div class="">
								<input
									class="myform-control"
									type="password"
									name="password"
									id="password"
									placeholder="Password"
								/>
							</div>
							<div class="">
								<input
									class="myform-control"
									type="password"
									name="confirmation"
									id="confirmation"
									placeholder="Confirm Password"
								/>
							</div>
							<div class="register-conditions flex column gap10">
								<p>
									Nous vous enverrons régulièrement des
									e-mails avec des offres concernant nos
									services. Vous pouvez vous désinscrire de
									ces e-mails marketing en tout temps, sans
									frais, via Mon eBay ou en cliquant sur le
									lien inclus dans les e-mails ou ici.
								</p>
								<p>
									En cliquant sur S'inscrire, vous confirmez
									avoir lu et accepté les Conditions
									d'utilisation. Veuillez vous référer à notre
									Avis sur les données personnelles pour toute
									information concernant le traitement de vos
									données.
								</p>
							</div>
							<input
								class="btn-register"
								type="submit"
								value="Register"
								disabled
							/>
						</form>
						<div class="separator">
							<div></div>
							<span>ou</span>
							<div></div>
						</div>
						<div class="big-tech">
							<a class="big-tech-btn flex tech-gap1" href="#">
								<img
									src="http://localhost:8000/static/auctions/media/google.svg"
									alt=""
								/>
								<span>Continuer avec Google</span>
							</a>
							<a class="big-tech-btn flex tech-gap2" href="#">
								<img
									src="http://localhost:8000/static/auctions/media/facebook.svg"
									alt=""
								/>
								<span>Continuer avec Facebook</span>
							</a>
							<a
								class="big-tech-btn flex align-center tech-gap3"
								href="#"
							>
								<img
									src="http://localhost:8000/static/auctions/media/apple.svg"
									alt=""
								/>
								<span>Continuer avec Apple</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</main>
	</body>
	<script>
		const firstName = document.querySelector("#firstname");
		const lastName = document.querySelector("#lastname");
		const email = document.querySelector("#email");
		const password = document.querySelector("#password");
		const confirmation = document.querySelector("#confirmation");
		const submitBtn = document.querySelector(".btn-register");

		function isInputsValid() {
			return (
				firstName.value.trim() !== "" &&
				lastName.value.trim() !== "" &&
				email.value.trim() !== "" &&
				password.value.trim() !== "" &&
				confirmation.value.trim() !== ""
			);
		}

		function updateSubmitBtn() {
			const isValid = isInputsValid(); // Store the validity check result			
			submitBtn.disabled = !isValid;


			if (isValid) {
				submitBtn.style.backgroundColor = "#3665F3"; // Corrected property name
			}
		}

		// Add event listeners for all input fields
		firstName.addEventListener("input", updateSubmitBtn);
		lastName.addEventListener("input", updateSubmitBtn);
		email.addEventListener("input", updateSubmitBtn);
		password.addEventListener("input", updateSubmitBtn);
		confirmation.addEventListener("input", updateSubmitBtn);


	</script>
	<footer>
		<div class="footer-container3">
			<div class="footer-term-div3 flex justify-center">
				<span>Copyright © 1995-2023 eBay Inc. Tous droits réservés. <a class="footer-term" href="">Conditions d'utilisation</a>, <a class="footer-term" href="">Avis sur les données personnelles</a>, <a class="footer-term" href="">Conditions d'utilisation des services de paiement</a>, <a class="footer-term" href="">cookies</a> et <a class="footer-term" href="">AdChoice</a>	
				</span>
			</div>	
		</div>		
	</footer>
</html>
