.status-container {
	display: flex;
	min-height: 7.06em;
	border-bottom: 1px solid #d9d9d9;
}

.user-status {
	width: 2.81em;
	height: 2.81em;
	border-radius: 50%;
	padding: 0.56em 1.06em 0 0.87em;
}

.user-status > .avatar-container .avatar-img {
	height: 2.81em;
	width: 2.81em;
	object-fit: cover;

	border-radius: 50%;
}

.form-container {
	max-width: 29.31em;
	flex-grow: 1;
}

.form > #text-input {
	font-family: "Inter";
	font-style: normal;
	font-weight: 500;
	font-size: 1.14em;
}

.selected-files {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}

.status-btn {
	display: flex;
	justify-content: space-between;
}

.status-btn > input {
	width: 4.56em;
	height: 2em;
	border-radius: 5.88em;

	background: #4a9cfd;
	color: #fff;

	font-family: "Inter";
	font-style: normal;
	font-weight: 700;
	font-size: 0.82em;
	line-height: 1em;
}

#text-input {
	resize: none;
	overflow: hidden;

	width: 95%;
	margin-top: 1.41em;
	margin-right: 1.26em;

	border: none;

	font-family: "Inter";
	font-style: normal;
	font-weight: 500;
	font-size: 1.145rem;
	line-height: 1.375rem;

	color: #a6a5a5;
}
