.fleet {
	height: 3.75em;
	width: 3.75em;
	border: 0.13em;
	border-radius: 5.88em;

	background: none;
}

.fleet > .avatar-img {
	height: 3.31em;
	width: 3.31em;
	padding: 0.2em;
	border-radius: 5.88em;
}

.status-container {
	display: flex;
	min-height: 7.06em;
}

.user-status {
	width: 2.81em;
	height: 2.81em;
	border-radius: 6.25em;
	padding: 1.06em 0.56em auto 0.87em;
}

.form-container {
	max-width: 29.31em;
}

.form-container > #text-input {
	font-family: "Inter";
	font-style: normal;
	font-weight: 500;
	font-size: 1.14em;
}

.selected-files {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}
.status-btn {
	display: flex;
	justify-content: space-between;
}

.status-btn > input {
	width: 4.56em;
	height: 2em;
	border-radius: 5.88em;

	background: #4a9cfd;
	color: #fff;

	font-family: "Inter";
	font-style: normal;
	font-weight: 700;
	font-size: 0.82em;
	line-height: 1em;
}

.media-inputs {
	display: flex;
	justify-content: space-between;
	gap: 1.2em;
}
