@font-face {
	font-family: "Inter";
	src: url(/static/mail/Inter-VariableFont_slnt\,wght.ttf);
}
:root {
	--nav-color: #eaebeb; /*nav button color*/
	--nav-text-color: #1a1b1f;
	--active-nav: #d3e3fc; /*active*/
	--compose-color: #c4e7fd; /*compse*/
	--search-bar: #eaf1fb; /*search*/
	--white-color: #fff; /*white background*/
	--usa-btn-color: #eaebeb; /*greyish background*/
	--apps-link-hover: #eaebeb;

	--email-color: transparent; /*email*/
	--userlog-color: #eff2fd;
	--usercard-color: #fff;
	--apps-card-color: #f8fafd;
	--userlog-text-color: #595959;
	--terms-color: #282828;
}
body {
	font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial,
		sans-serif;
	background: #f7f8fc;
}
ul,
li {
	list-style-type: none;
	padding: 0;
}
hr {
	width: 100%;
	margin: 0;
}
/*
.body-wrapper {
	overflow: hidden;
}*/
.mailApp-container {
	max-width: 100%;
	overflow: hidden;
}

.header-container {
	display: flex;
	padding: 0.56em;
	align-items: center;
}

a {
	text-decoration: none;
}
button {
	border: none;
	background: none;
}

.margin1 {
	margin-bottom: 2.81em;
}

.flex {
	display: flex;
}
.column {
	flex-direction: column;
}
.justify {
	justify-content: space-between;
}
.justify-right {
	justify-content: right;
}

.space-between {
	justify-content: space-between;
}

.justify-center {
	justify-content: center;
}
.justify-end {
	justify-content: flex-end;
}
.align-center {
	align-items: center;
}
.grow {
	flex-grow: 1;
}

.gap {
	gap: 0.31em;
}
.gap2 {
	gap: 0.25em;
}
.gap3 {
	gap: 0.5em;
}
.gap4 {
	gap: 0.75em;
}
.gap5 {
	gap: 1em;
}
.gap6 {
	gap: 1.25em;
}
.gap7 {
	gap: 1.5em;
}
.gap8 {
	gap: 1.75em;
}
.gap9 {
	gap: 2em;
}

.flex-wrapp {
	flex-wrap: wrap;
}

.auth-main {
	width: 100vw;
	height: 95vh;
	background: #fff;
}
footer {
	width: 100vw;
	height: 5vh;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer-div {
	width: 28.125rem;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.signup-container,
.login-container {
	width: 28.125rem;
	height: 31.375rem;
	border-radius: 0.5rem;
	border: 1px solid #dadce0;
}

.xmailer-div {
	margin-top: 2.81em;
	margin-bottom: 1.06em;
}
.xmailer-div img,
.xmailer-div img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.login-container form,
.signup-container form {
	width: 28.125rem;
	flex-grow: 1;
	overflow: hidden;
}

.login-carousel,
.signup-carousel {
	transition: transform 0.5s ease-in-out;
	transform: translate(0);
}

.login-slide,
.signup-slide {
	width: 28.125rem;
	padding-left: 2.56rem;
	padding-right: 2.56rem;
	flex: 0 0 100%;
}

.login-slide span,
.signup-slide span {
	color: #706368;
	font-family: "Inter";
	font-size: 0.85rem;
	font-style: normal;
	font-weight: 400;
	line-height: 137.023%; /* 1.11331rem */
}

.login-slide > span a,
.signup-slide > span a {
	text-decoration: none;
	border-radius: 4px;
	color: rgb(26, 115, 232);
	display: inline-block;
	font-weight: 500;
	letter-spacing: 0.25px;
}

.login-h1,
.signup-h1 {
	margin-bottom: 2.2em;
	text-align: center;
}

.login-h1 h3,
.signup-h1 h3 {
	font-family: "Inter";
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-bottom: 0.35em;
}

.login-h1 span,
.signup-h1 span {
	color: #333;
	font-family: "Inter";
	font-size: 0.9375rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.h1-margin {
	margin-bottom: 1.3em;
}

.login-user {
	padding: 0.25rem 0.41em;
	border-radius: 6.25rem;
	border: 1px solid #dadce0;
}

.login-avatar {
	width: 1.35rem;
	height: 1.35rem;
	border-radius: 6.25rem;
	margin-right: 1em;
}

.login-avatar img {
	width: 100%;
	height: 100%;
	border-radius: 6.25rem;
	object-fit: cover;
	vertical-align: unset;
}

.login-user span {
	color: #404043;
	font-family: "Inter";
	font-size: 0.88rem;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	margin-right: 0.25em;
}

.myform-group {
	margin-bottom: 3em;
	width: 100%;
}
.myform-group span {
	color: #404043;
	font-family: "Inter";
	font-size: 0.88rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-right: 0.25em;
	margin-top: 0.5em;
}
.myform-control {
	width: 100%;
	height: 3.5rem;
	border-radius: 0.19rem;
	padding-left: 1rem;
	border: 1px solid #dadce0;

	color: #706368;
	font-family: "Inter";
	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-bottom: 0.26em;
}

.myform-cntrl-margin {
	margin-top: 2.5em;
}

.myform-group a {
	color: rgb(26, 115, 232);
	font-family: "Inter";
	font-size: 0.88rem;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	text-decoration: none;
}

.show-password {
	gap: 1.38em;
}

.step-btn-wrapper {
	width: 100%;
	color: #5f6368;
	font-family: "Inter";
	font-size: 0.84375rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.step-btn-wrapper a {
	padding: 0.25rem 0.35rem;
	color: #1a73ec;
	font-family: "Inter";
	font-size: 0.84rem;
	font-style: normal;
	font-weight: 600;
	text-decoration: none;
}

.step-btn-wrapper a:hover {
	background: rgba(195, 220, 254, 0.2);
}

.step-btn,
.submit-btn {
	padding: 0.69em 1.44em;
	border-radius: 0.3125em;
	background: #1a73e8;
	border: transparent;
	outline: none;

	color: #fff;
	font-family: "Inter";
	font-size: 0.875rem;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}
.step-btn:hover,
.submit-btn:hover {
	background: #1a73e8;
}

.xmailer-support {
	color: #56595c;
	font-family: "Inter";
	font-size: 0.6875rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

button:hover {
	background: var(--nav-color);
}

.nav-button:active,
button:focus {
	outline: none;
	border: none;
}
.active {
	background: var(--active-nav);
}

.button-content > .inbox-count span {
	color: var(--nav-text-color);
	font-size: 0.88rem;
	font-family: "Inter";
	font-weight: 600;
}
.active > .button-content span {
	font-size: 0.88rem;
	font-family: "Inter";
	font-weight: 600;
}

.button-content > .inbox-count .total-emails {
	color: var(--nav-text-color);
	font-size: 0.73rem;
	font-family: "Inter";
	font-weight: 500;
}

.container {
	max-width: 100vw;
	margin: 0;
	padding: 0;
}

.header-container {
	height: 4.06em;
}

.search-bar {
	flex-shrink: 1;
	flex-grow: 1;
}
.search-form {
	display: flex;
	align-items: center;
	height: 2.94em;
	max-width: 45.5em;
	padding: 0.25em;
	border-radius: 6.25em;
	background: var(--search-bar);
}
.search-theme-change {
	fill: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(0.5px);
}

.search-form input {
	height: 100%;
	border: transparent;
	outline: none;
	background: transparent;
}

.search-icons-btn > img {
	margin: 0.6em;
}

.search-icons-btn:hover {
	border-radius: 6.25em;
	background: rgba(166, 179, 198, 0.25);
}

.support-themes,
.user-themes,
.user-apps {
	width: 2.4em;
	height: 2.4em;
	border-radius: 6.25em;
	margin-left: 0.2em;

	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.current-user-wrapper {
	width: 2.6em;
	height: 2.6em;
	border-radius: 6.25em;
	margin-right: 0.35em;
	margin-left: 0.25em;

	display: flex;
	align-items: center;
	justify-content: center;
}
.current-user img {
	width: 2em;
	height: 2em;
	border-radius: 6.25em;
	object-fit: cover;
	cursor: pointer;
}

.logos {
	width: 15.44em;
	height: 2.94em;

	/*padding-left: 0.95em;*/
}
.btn-3bar {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 4px;
	width: 2.94em;
	border-radius: 6.25em;

	overflow: hidden;
	cursor: pointer;
}
.btn-3bar:hover,
.user-apps:hover,
.user-themes:hover,
.current-user-wrapper:hover {
	background: var(--usa-btn-color);
}

.logo-link {
	display: flex;
	align-items: center;
	gap: 0.3em;
}
/* \\\\\\\ MAIN SECTION /////// */
/* LEFT SIDE (sidebar)*/
.side-bar {
	width: 16em;
}
.sidebar-flexed {
	width: 4em;
}

.btn-compose {
	padding: 1em;
	margin-top: 0.625em;
	margin-left: 0.75em;
	margin-right: 0.625em;
	border-radius: 0.94em;

	background: var(--compose-color);
}

.btn-compose:hover {
	background: var(--compose-color);
	box-shadow: 0px 5px 8px rgba(19, 18, 18, 0.25);
	transform: scale(1);
}

.compose-button {
	display: flex;
	gap: 0.8em;
}

.compose-button span {
	font-family: "Inter";
	font-size: 0.875rem;
	font-weight: 500;
	margin-top: 0.1em;
}

.nav-container {
	margin-top: 1.125em;
	padding-right: 1.31em;
}

.nav-button {
	width: 14.69em;
	height: 2em;
	border-top-right-radius: 6.25em;
	border-bottom-right-radius: 6.25em;
}
.nav-button-flexed {
	width: 2em;
	height: 2em;
	border-radius: 6.25em;
	margin-left: 1.45em;
}

.nav-expand-wrapper {
	display: none;
}
.show-expand {
	display: block;
}

.button-content,
.label-button {
	display: flex;
	align-items: center;
	gap: 1.25em;
	margin-left: 1em;
	margin-right: 1em;
}

.label-button {
	margin-top: 1.5em;
	margin-bottom: 1em;
}

.button-content > span {
	color: var(--nav-text-color);
	font-size: 0.8125rem;
	font-family: "Inter";
	font-weight: 500;
}

.label-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1.25em;
	margin-left: 0.35em;
	margin-right: 1em;
}
.label-content-flexed {
	margin-left: 1.4em;
	margin-right: 0;
}

.label-nav {
	color: var(--nav-text-color);
	font-size: 1rem;
	font-family: "Inter";
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.nav-label-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 2em;
	width: 2em;
	border-radius: 6.25em;
}

.nav-label-btn:hover,
.nav-label-btn:focus {
	background: var(--nav-color);
	border: 1px solid #fafafa;
}

.content-settings-container {
	max-width: 65.5em;
	flex-shrink: 1;
	flex-grow: 1;
	display: flex;
}

.content-hearder {
	display: flex;
	justify-content: space-between;
	height: 3em;
	padding-left: 1em;
	padding-right: 1em;
	margin-top: 0.25em;
	margin-bottom: 0.25em;
	margin-right: 1em;
}

.emails-content {
	max-width: 100%;
	flex-shrink: 1;
	flex-grow: 1;
	height: 85vh;
	overflow: hidden;
	border-radius: 0.94em !important;
	background: var(--white-color);
}

.emails-content-sb-flexed {
	width: 77.25em;
}

.email-view {
	height: 100%;
	border-bottom-left-radius: 0.94em !important;
	border-bottom-right-radius: 0.94em !important;
	background: var(--email-color);
	overflow: auto; /* Add this line to enable scrolling */
}
.content-body {
	height: 100%;
	border-bottom-left-radius: 0.94em !important;
	border-bottom-right-radius: 0.94em !important;
}

.mailbox-header {
	border-bottom: 1px solid #ecebeb;
}

.left-button,
.right-button,
.mailbox {
	display: flex;
	align-items: center;
}

.mailbox-container {
	width: 13em;
	padding-left: 0.5em;
	padding-right: 0.5em;
}
.mailbox-container:hover {
	background-color: var(--nav-color);
}
.mailbox {
	height: 100%;
	gap: 1em;
	padding-left: 0.7em;
	align-items: center;
	border-bottom: 3px solid #0b57d0;
	color: #0b57d0;
}
.mailbox > h6 {
	font-family: "Inter";
	font-size: 0.875rem;
	letter-spacing: normal;
	font-weight: 500;
	line-height: 1em;
	margin-bottom: 0;
}
.mailbox-header {
	display: flex;
	height: 3.25em;
}

.empty-mailbox {
	height: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.empty-mailbox > h3 {
	font-family: "Inter";
	text-align: left;
	font-style: normal;
	font-weight: 500;
	font-size: 1.5rem;
	/* identical to box height */

	color: #2c2d2d;
}

.pagination-div {
	padding: 0 0.5em;
	margin-right: 0.5em;

	display: flex;
	justify-content: center;
	align-items: center;
}
.pagination-div span {
	padding: 0.5em 1em;
	color: #5f6368;
	font-family: "Inter";
	font-size: 0.75rem;
	font-style: normal;
	font-weight: 400;
}

.icon-btn {
	padding: 0.25em;
	margin-right: 0.31em;
	border-radius: 6.25em;
	place-items: center;
	overflow: hidden;
	transition: background-color 0.3s ease-in-out;
}

.icon-btn img {
	gap: 0.1em;
	margin: 0.5em;
}

.combined-btn {
	margin-right: 0.31em;
	border-radius: 0.25em;
	padding: 0;
}

.combined-icon,
.select-icon {
	padding: 0.25em;
	border-radius: 0.25em;
	overflow: hidden;
	transition: background-color 0.3s ease-in-out;
}
.combined-icon img,
.select-icon img {
	margin: 0.25em;
}

.combined-icon img {
	margin-left: 0;
	margin-right: 0;
}
.select-icon img {
	margin-left: 0;
	margin-right: 0;
}

.icon-btn:hover {
	border-radius: 6.25em;
	background-color: var(--nav-color);
}

.combined-btn:hover {
	background: transparent;
}

.combined-btn:focus {
	border-radius: 0.25em;
	background-color: var(--nav-color);
}

.pagination-div:hover,
.combined-icon:hover {
	border-radius: 0.25em;
	background-color: var(--nav-color);
}

.select-icon:hover {
	border-radius: 0.25em;
	background-color: var(--nav-color);
}

/* Right SIDE (email content)*/
/* Little Apps  (email content)*/
.apps-container {
	gap: 0.5em;
}
.appIcon {
	padding-left: 0.5em;
	padding-right: 0.5em;
}
.apps-icon-wrapper {
	width: 2.94em;
	height: 2.94em;
	border-radius: 6.25em;

	display: flex;
	justify-content: center;
	align-items: center;
}
.apps-icon-wrapper:hover {
	background: var(--usa-btn-color);
}

.first-app {
	margin-top: 0.5em;
}

.email {
	width: 100%;
	padding: 0.625em 1.25em;
	/*height: 2.56em;*/
	border-bottom: 1px solid #ecebeb;

	display: flex;
	align-items: center;
	gap: 1em;
}

.form-check {
	display: flex;
	align-items: center;
	padding: 0;
}
/* Change the color of the checkbox border and background */
.form-check-input:checked {
	background-color: #2196f3;
	border-color: #2196f3;
}

/* Increase the size of the checkbox */
.form-check-input {
	width: 1rem;
	height: 1rem;
}
.email:hover {
	background: #f2f5fc;
	border-width: 0px 0.5px 0.5px 0.5px;
	border-style: solid;
	border-color: #eae8e8;
	box-shadow: 0px 2px 3px rgba(34, 33, 33, 0.25);
	transform: scale(1);
	cursor: pointer;
}

/* Emails view preview */
.preview-font {
	font-family: "Inter";
	text-align: left;

	font-style: normal;
	font-weight: 400;
	font-size: 0.88rem;
	/* identical to box height */

	color: #2c2d2d;
}

.prev-font2 {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.unread {
	font-weight: 600;
	font-size: 0.88rem;
	/* identical to box height */
}

.checkbox-list {
	width: 7em;
}

.sender-preview {
	max-width: 8em;
	text-align: left;
}

.subject-body {
	max-width: 100%; /* 40.62em;*/
	flex-shrink: 1;
	flex-grow: 1;
	padding-right: 2.5em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.body-preview {
	max-width: 100%; /* 40.62em;*/
	flex-shrink: 1;
	flex-grow: 1;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	font-size: 0.88rem;
	/* identical to box height */

	color: #5f6368;
}

.datetime-preview > span {
	white-space: nowrap;
	flex-grow: 1;
	text-align: right;
	font-family: "Inter";
	font-weight: 400;
	font-size: 0.75rem;
	/* identical to box height */

	color: #5f6368;
}

.unread-time {
	font-weight: 600;
	font-size: 0.75rem;
	/* identical to box height */
}

.email-subject {
	width: 100%;
	padding: 1.31em 4.56em;
}
.email-subject h2 {
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	font-size: 1.31rem;
	line-height: 1.5rem;

	color: #313030;
}
.email-subject a {
	display: inline-block;
	width: 1.25em;
	height: 1.25em;
	background-image: url("media/archive.svg");
	background-repeat: no-repeat;
	background-size: contain;
}
.sender-avatar {
	width: 73px;
}

table {
	width: 100%;
}
td {
	vertical-align: middle;
}
.first-row {
	margin-right: 2em;
}
.second-row .first-column {
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	font-size: 0.76rem;
	line-height: 0.91rem;
	letter-spacing: 0.015rem;

	color: #757575;
}
.first-column,
.third-column {
	flex: 0 0 auto;
}
.second-column {
	flex: 1 0 0;
	text-align: right;
}
.first-column .sender-span1 {
	font-family: "Inter";
	font-style: normal;
	font-weight: 600;
	font-size: 0.89rem;
	line-height: 1.06rem;
	/* identical to box height */

	color: #242424;
}
.first-column .sender-span2 {
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	font-size: 0.75rem;
	line-height: 0.91rem;
	letter-spacing: 0.015rem;

	color: #757575;
}
.first-row > span {
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	font-size: 0.7rem;
	line-height: 0.91rem;

	color: #757575;
}
.second-column > span {
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	font-size: 0.75rem;
	line-height: 0.91rem;

	color: #757575;
}
.second-column .icon-starred,
.third-column .icon-reply,
.third-column .icon-more {
	display: inline-block;
	width: 1.25em;
	height: 1.25em;
	vertical-align: middle;
}

.second-column .icon-starred {
	margin-left: 1em;
	margin-right: 1em;
	background-repeat: no-repeat;
	background-size: contain;
}
.third-column .icon-reply {
	margin-right: 1em;
	background-repeat: no-repeat;
	background-size: contain;
}
.third-column .icon-more {
	margin-right: 0;
	padding: 0.188em;
	background-repeat: no-repeat;
	background-size: contain;
}

.icon-reply,
.icon-starred,
.icon-more {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}

.icon-reply img,
.icon-starred img,
.icon-more img {
	display: block;
	max-width: 100%;
	max-height: 100%;
}

.rf-btn-container {
	gap: 0.62rem;
	margin-top: 3em;
}
.rf-btn-container > a:hover {
	text-decoration: none;
	background: #dfe0e0;
}
.rf-btn {
	padding: 0.45em 0.94em;
	border: 1px solid #757575;
	border-radius: 6.25em;

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5em;
}

.rf-btn span {
	font-family: "Inter";
	font-style: normal;
	font-weight: 500;
	font-size: 0.88rem;
	line-height: 1rem;

	color: #464646;
}

.email-body {
	margin-top: 0.75em;
}
.email-body > p {
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	font-size: 0.825rem;
	line-height: 0.94rem;

	color: #242424;
}
.sender-avatar {
	display: flex;
	justify-content: center;
	padding: 0.35em;
}
.sender-avatar > .avatar-container img {
	height: 2.3em;
	width: 2.3em;
	border-radius: 6.25em;
	object-fit: cover;
}
/* SETTINGS*/
.settings-container {
	width: 18.75em;
	margin-left: 1em;
	height: 85vh;
	border-radius: 0.94em;

	display: none;
	background: var(--white-color);
	overflow: hidden;
}

.settings-container > hr {
	padding-left: 0.19em;
	padding-right: 1em;
}
.settings-span {
	font-family: "Inter";
	font-style: normal;
	font-weight: 500;
	font-size: 0.75em;
	line-height: 0.5em;
	/* identical to box height, or 67% */
	color: #444746;
}

.settings-header {
	padding: 1.37em 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid #e4e2e2;
}

.settings-header > div h5 {
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	font-size: 0.94em;
	line-height: 0.5em;
	margin: 0;
	/* identical to box height, or 53% */
	color: #333;
}

.settings-header > a {
	text-decoration: none;
}

.settings-header > a div {
	width: 100%;
	height: 2.19em;
	border: 1px solid #e4e2e2;
	border-radius: 6.25em;
	margin-top: 1.44em;
	text-align: center;
}
.settings-header > a div span {
	font-family: "Inter";
	font-style: normal;
	font-weight: 500;
	font-size: 0.88rem;
	line-height: 2.19rem;
	/* identical to box height, or 57% */

	color: #1a73e8;
}
.settings-header > a:hover div {
	background: rgba(195, 220, 254, 0.2);
}

.settings-wrapper {
	height: 100%;
}
.settings-body {
	overflow-y: auto;
	flex: 1;
}

.mails-apps,
.mails-density,
.themes-settings {
	padding: 0.75em 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid #b9b9b9;
}
.mails-apps .wpr {
	margin-top: 1em;
}
.costumize-apps p {
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	font-size: 0.84rem;
	line-height: 0.5rem;
	margin-top: 0.5em;
	margin-bottom: 0.5em; /* identical to box height, or 59% */

	color: #202124;
}
.costumize-apps .costumize {
	padding: 0 0.75rem;
	margin-left: -0.75rem;
	border-radius: 6.25rem;
	margin-bottom: 0;

	color: #1a73e8;
	font-family: "Inter";
	font-style: normal;
	font-weight: 500;
	font-size: 0.875rem;
	text-decoration: none;
}

.costumize-apps .costumize:hover {
	background: rgba(195, 220, 254, 0.1);
}

.density-form .density-radios {
	margin-top: 1rem;
}

.radio-inputs {
	align-items: center;
	margin: 0;
}
.radio-inputs label {
	color: #202124;
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	font-size: 0.85rem;

	margin: 0;
	margin-left: 1em;
}

.themes-container ul {
	overflow-x: auto;
	margin-top: 1.25em;
}

.themes-container ul li {
	flex: 0 0 auto;
}

.all-themes {
	padding: 0 0.25rem;
	color: #1a73e8;
	font-family: "Inter";
	font-style: normal;
	font-weight: 500;
	font-size: 0.88rem;
	line-height: 0.5rem;
	/* identical to box height, or 57% */
}

.wallpaper-list {
	width: 3.62em;
	height: 2.5em;
	margin-bottom: 0.5rem;
}
.wallpaper-item > .wallpaper-list img {
	width: 100%;
	height: 100%;
	border-radius: 0.25em;
	object-fit: cover;
}

/* Width and color */
.settings-body::-webkit-scrollbar {
	width: 12px;
	background-color: transparent;
}

/* Track */
.settings-body::-webkit-scrollbar-track {
	background: transparent;
}

/* Handle */
.settings-body::-webkit-scrollbar-thumb {
	width: 10px;
	border-radius: 3px;
	background: rgba(167, 163, 161, 0.7);
}

/* Handle on hover */
.settings-body::-webkit-scrollbar-thumb:hover {
	background: rgba(139, 136, 135, 0.7);
}

.compose-container {
	width: 31.81em;
	height: 29.94em;
	border-radius: 0.5em;
	bottom: 0;
	right: 2.5em;
	z-index: 1;

	display: none;
	position: absolute;
	overflow: hidden;
	background: #fff;
	box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.07);
}
.respond-modal {
	display: flex;
	margin-top: 3em;
}

.respond-container {
	margin-right: 2em;
}

.respond-wrapper {
	width: 100%;
	padding: 0.88em;
	box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.07);

	border-radius: 10px;
	border: 1px solid #e1e3e1;
}
.other-instance {
	display: none;
	background: #f5f5f5;
	border: 1px solid transparent;
	color: #777;
	padding: 0.35em;
}
.align-instance {
	display: flex;
	align-items: center;
}

.compose-header-wrapper {
	height: 2.44em;
	width: 100%;
	background: #f2f5fc;

	display: flex;
	align-items: center;
	justify-content: space-between;
}
.compose-header {
	display: flex;
	align-items: center;
}
.compose-header h4 {
	font-family: "Inter";
	font-style: normal;
	font-weight: 500;
	font-size: 0.88rem;
	line-height: 1.06rem;
	padding-left: 0.88em;
	margin: 0;
	/* identical to box height */
	color: #041e49;
}
.scales-btn {
	display: flex;
	padding-right: 0.88em;
}

.scales-btn a:hover {
	background: #ededed;
	border-radius: 0.1em;
}

.compose-container form {
	padding-left: 0.88em;
	padding-right: 0.88em;
}

.compose-textarea {
	position: relative;
	width: 100%;
	height: 20em;
}
.respond-textarea {
	position: relative;
	width: 100%;
	height: 11em;
}

.compose-input > input,
textarea {
	width: 100%;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	box-sizing: border-box;
	border: none;
	outline: none;
}

.compose-input > input:focus,
textarea:focus {
	border: none;
	outline: none;
	background: transparent;
	border-style: none;
	border-color: Transparent;
}

textarea {
	width: 100%;
	height: 100%;
	background: #fff;
	resize: none;
}

.text-editor {
	width: 100%;
	height: 2.31em;
	bottom: 0.5em;
	position: absolute;
	display: flex;
	background: #fff;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.rsp-editor {
	width: 70%;
}

.compose-submit {
	bottom: 0;
	position: relative;
}
.respond-textarea > textarea {
	width: 100%;
	height: 100%;
	background: #fff;
	resize: none;
	overflow-y: auto;
}

.respond-type {
	display: flex;
	/*align-items: center;*/
	gap: 0.3em;
}
.respond-header {
	gap: 0.3em;
}
.respond-header > span {
	display: flex;
	color: #444746;
	font-size: 0.875rem;
	white-space: nowrap;
	align-items: center;
}

.send-btn {
	display: block;
	align-items: center;
	width: 6.56em;
	height: 2.25em;

	background: #3471d2;
	border-radius: 6.25em;
}

.send-btn input {
	border: none;
	background: transparent;
	font-family: "Inter";
	font-style: normal;
	font-weight: 600;
	font-size: 0.88rem;
	line-height: 1.06rem;
	/* identical to box height */

	color: #ffffff;
}

.userlog-modal {
	position: absolute;
	width: 23.38em;

	z-index: 2;
	top: 4.4em;
	right: 1.3em;
	border-radius: 1.56em;

	background: var(--userlog-color);
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
	display: none;
}
.apps-modal {
	position: absolute;
	overflow: hidden;
	width: 20.5rem;
	height: 26.8125rem;
	z-index: 2;
	top: 4.4em;
	right: 1.3em;
	border-radius: 1.56em;

	background: var(--userlog-color);
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
	display: none;
}

.userlog-card {
	width: 22.5em;
	margin: 0.44em 0.44em 0.19em 0.44em;

	background: var(--usercard-color);
	border-top-left-radius: 1.25em;
	border-top-right-radius: 1.25em;
	border-bottom-left-radius: 0.18em;
	border-bottom-right-radius: 0.18em;
}
.apps-card {
	width: 19.5rem;
	flex-shrink: 0;
	margin: 0.44em 0.44em 0.19em 0.44em;
	padding-top: 2.12em;
	padding-left: 2em;
	padding-right: 1em;

	background: var(--apps-card-color);
	border-radius: 1.25em;
}

.currentUser {
	display: flex;
	gap: 0.72em;
	padding: 1em 0 1.49em 1em;
}

.currentUser .user-avatar > .avatar img {
	width: 4em;
	height: 4em;
	border-radius: 6.25em;
	object-fit: cover;
}
.currentUser .user-avatar > .change-avatar {
	display: flex;
	justify-content: flex-end;

	position: relative;
	z-index: 1;
	left: 0.4em;
	bottom: 1.65em;
}
.currentUser .user-avatar > .change-avatar img {
	width: 1.88em;
	height: 1.88em;
	border-radius: 6.25em;
	object-fit: cover;
}

.manage-user {
	display: flex;
	flex-direction: column;
	gap: 1.56em;
	flex-grow: 1;
}
.username {
	display: flex;
	flex-direction: column;
	margin-top: 0.88em;
}

.username > h6 {
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	font-size: 0.88rem;
	line-height: 1.06rem;
	margin: 0;
	/* identical to box height */

	color: var(--userlog-text-color);
}

.username > span {
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	font-size: 0.75rem;
	line-height: 0.94rem;
	/* identical to box height */

	color: var(--userlog-text-color);
}

.account-manage {
	width: 14.12em;
	height: 2em;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;

	border: 1px solid var(--userlog-text-color);
	border-radius: 0.44em;
}

.account-manage span {
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	font-size: 0.88rem;
	line-height: 1.06rem;
	/* identical to box height */

	color: var(--userlog-text-color);
}

.add-account {
	margin-left: 0.44em;
	margin-right: 0.44em;

	background: var(--usercard-color);
	border-top-left-radius: 0.18em;
	border-top-right-radius: 0.18em;
	border-bottom-left-radius: 1.25em;
	border-bottom-right-radius: 1.25em;
}
.add-account,
.logout-user {
	display: flex;
	gap: 2.19em;
	align-items: center;
	padding: 0.94em 2.12em;
}

.add-account,
.logout-user {
	font-family: "Inter";
	font-style: normal;
	font-weight: 500;
	font-size: 0.88rem;
	line-height: 1.06rem;
	/* identical to box height */

	color: var(--userlog-text-color);
}

.add-account:hover,
.logout-user:hover {
	background: #dde9fb;
	text-decoration: none;
	color: var(--userlog-text-color);
}

.terms-conditions {
	display: flex;
	justify-content: space-between;
	padding: 1.06em 5.38em;
}
.terms-conditions a {
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	font-size: 0.75rem;
	line-height: 0.94rem;
	/* identical to box height */

	color: var(--terms-color);
}

.google-apps {
	display: flex;
	flex-wrap: wrap;
	gap: 0.75em;
	justify-content: center;
}
.google-apps li {
	flex-basis: calc(33.33% - 10px);
}

.apps-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 4.75em;
	height: 5em;
	margin: 0;

	flex-shrink: 0;
	border-radius: 0.625rem;
}

.apps-link:hover {
	background: var(--apps-link-hover);
}

.app-icon-name .user-avatar,
.app-icon-name .app-icon {
	display: flex;
	justify-content: center;
}
.apps-link .app-icon-name > .user-avatar img {
	width: 2.375em;
	height: 2.375em;
	border-radius: 6.25em;
	object-fit: cover;
}
.apps-link span {
	color: var(--userlog-text-color);
	font-size: 0.81rem;
	text-align: center;
	font-family: "Inter";
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	margin-top: 0.25em;
}

/* Interactive css rules */
.no-margin-left {
	margin-left: 0;
}

.hide-buttons {
	display: none;
}

.modal-content {
	padding: 1em;
}

.myModal-body {
	padding-top: 0.75em;
	padding-bottom: 0.75em;
}

.myModal-footer {
	display: flex;
	justify-content: flex-end;
	gap: 0.75em;
	padding-top: 0.5em;
}

.close-label-modal {
	padding: 0 0.65em;
	border-radius: 6.25em;
}

.note-label {
	font-family: "Inter";
	font-size: 0.875rem;
	letter-spacing: normal;
	background: none;
	color: #5f6368;
	line-height: 1.25rem;
	margin: 0;
}

.label-input {
	width: 90%;
	height: 1.5em;
	margin-bottom: 0.5em;
	margin-top: 0.25rem;
}

.cancel-label-btn span,
.add-label-btn span {
	font-size: 0.875rem;
	font-weight: 500;
	letter-spacing: normal;
	line-height: 1.25rem;
}

.cancel-label-btn,
.add-label-btn {
	padding: 0.4em 1.2em;
	border-radius: 6.25em;
	margin-bottom: 0.25rem;
}

.add-label-btn {
	color: #fff;
	background: #2079ed;
	border: 1px solid #2079ed;
}
.add-label-btn:hover {
	color: #fff;
	background: #2079ed;
	border: 1px solid #2079ed;
	box-shadow: 0px 1px 3px rgb(48, 172, 234, 0.75);
}

.thirdPart-apps {
	align-items: center;
	justify-content: center;
	width: 18.65em;
	height: 100vh;
	background: #fff;
	display: none;
}

.noteApp-header {
	padding: 1em 0.95em;
	padding-right: 0.25em;
	border-bottom: solid 1px #f1f3f4;
}

.noteApp-body-container {
	overflow: hidden;
}
.noteApp-body-wrapper {
	padding: 0.5em 0.75em;
	padding-right: 0.5em;
	overflow-x: hidden;
	overflow-y: auto;
	max-height: calc(100vh - 73px); /* Adjust the max-height as needed */
	position: relative;
}
.noteApp-header h2 {
	color: #5f6368;
	font-family: "Inter";
	font-size: 0.65413rem;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	letter-spacing: 0.05563rem;
	margin: 0;
}

.noteApp-header h3 {
	color: #3c4043;
	font-family: "Inter";
	font-size: 1.01394rem;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	margin: 0;
}

.newNote-btn {
	max-width: 14em;
	padding: 0.4em 0.75em;
	border-radius: 6.25em;
	gap: 0.25em;
}

.newNote-btn span {
	color: #5f6368;
	font-family: "Inter";
	font-size: 0.91581rem;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.noteApp-btns {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.5em;
}

.noteList-btns:hover,
.newNote-btn:hover,
.noteApp-btns:hover {
	border-radius: 6.25em;
	background-color: #f1f3f4;
}

.folder-image-container {
	margin-top: 2.42em;
	margin-bottom: 1.57em;
}

.folder-image {
	height: 11.25rem;
}

.folder-image img {
	object-fit: cover;
}

.noteApp-slogan {
	margin-bottom: 3em;
}
.noteApp-slogan h1 {
	color: rgba(0, 0, 0, 0.87);
	text-align: center;
	font-family: "Inter";
	font-size: 1.341rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.noteApp-slogan p {
	color: #5f6368;
	text-align: center;
	font-family: "Inter";
	font-size: 0.85038rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.plateform-btn span {
	color: #5f6368;
	font-family: "Inter";
	font-size: 0.91581rem;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.plateform-btn {
	padding: 0.3em 0.75em;
}

.plateform-btn:hover {
	background-color: rgb(241, 243, 244, 0.5);
	text-decoration: none;
}

.noteList-div {
	width: 100%;
	border-radius: 0.5rem;
	border: 1px solid #dadce0;
	padding-top: 0.5em;
	padding-bottom: 1em;
	padding-left: 1em;
	padding-right: 0.75em;
}
.noteList-div:hover {
	box-shadow: 0px 1px 3px 0.5px rgba(0, 0, 0, 0.15);
}

.note-titleInput,
.note-bodyInput {
	margin-bottom: 0.25em;
}

.note-titleInput input {
	max-width: 13.5em;
	border: transparent;
	outline: none;

	color: #5f6368;
	font-family: "Inter";
	font-size: 0.8125rem;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.note-bodyInput input {
	width: 100%;
	border: transparent;
	outline: none;

	color: #5f6368;
	font-family: "Inter";
	font-size: 0.86rem;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.noteItem input {
	height: 2em;
}

.list-noteItem input {
	color: #5f6368;
	font-size: 0.88rem;
}

.add-noteList {
	position: relative;
	margin-top: 0.5em;
	margin-bottom: 0.5em;

	color: #5f6368;
	font-family: "Inter";
	font-size: 0.84375rem;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.checked-notes-wrapper {
	border-top: 1px solid #b9b9b9;
	margin: 0.25em;
	padding-top: 0.25em;
	display: none;
}

.checkec-notes-count {
	color: rgba(0, 0, 0, 0.54);
	font-family: "Inter";
	font-size: 0.75rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.checked {
	text-decoration: line-through;
}

.close-noteItem {
	padding: 0.2em;
}

.no-margin {
	margin: 0;
}

.no-padding {
	padding: 0;
}
