body {
    background: #F7F8FC;
}

textarea {
    min-height: 400px;
}

button {
    border: none;
}

ul, li {
    list-style-type: none;
    padding: 0;
}

hr {
    width: 57.21em;
    margin: 0;
}

header{
    display: flex;
    padding: .56em;

    align-items: center;
}

main{
    display: flex;
}

.container {
    max-width: 100vw;
    margin: 0;
    padding: 0;
}

.header-container {
    height: 4.06em
}

.flex {
    display: flex;
}

.search-form {
    height: 2.94em;
    width: 39.75em;
    border-radius: .50em;

    background: #EAF1FB;
}

.current-user {
    flex-grow: 1;
}

.logos {
    gap: .87em;
    padding-right: 9.25em;
}
.btn-3bar {
    height: 1.88em;
    width: 1.88em;
    border-radius: 6.25em;
    background: #DEE1E7;

    text-align: center;
}

/* \\\\\\\ MAIN SECTION /////// */ 

/* LEFT SIDE (sidebar)*/
.side-bar {
    width: 18.25em;
}

.btn-compose {
    height: 3.44em;
    width: 12.44em;
    margin-top: .625em;
    margin-left: .25em;
    border-radius: .94em;

    background: #C4E7FD;
}

.nav-container {
    margin-top: 1.125em;
}

.nav-button {
    width: 14.69em;
    height: 2em;

    border-top-right-radius: 6.25em;
    border-bottom-right-radius: 6.25em;
    
}

/* Right SIDE (email content)*/
.emails-content {
    width: 58.25em;
    height: 35em;
    border-radius: .94em;

    background: #fff;
}

.email {
    width: 57.21em;
    height: 2.56em;

    display: flex;
}

.checkbox-btn {
    margin-left: 1.31em;
    border: solid 2px #C5C5C5;

    background: transparent;
}
