.post, .reply, .quote, .repost {
    display:flex;
    border-bottom: 1px solid #f3f2f2;

}

.post > .avatar-container .avatar-img,
.reply > .avatar-container .avatar-img,
.quote > .avatar-container .avatar-img,
.repost > .avatar-container .avatar-img {
	height: 2.94em;
	width: 2.94em;
	border-radius: 6.25em;
    margin: 0.69em 1em;
    object-fit: cover;
}

.post-content {
    padding-top: 0.7em;
}
.post-content > p {
    margin-top: 0.25em;
    margin-bottom: 0.88em;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.125rem;
    /* identical to box height */
    
    
    color: #202021;   
}
