.TL-container {
	height: 100vh;
	border-right: 1px solid #f3f2f2;
}

.home-container {
	height: 3.63em;
}

.home-container > h4 {
	margin: 0.94em 1.25em;
}

.TL-preference {
	height: 2.88em;
	border-bottom: 1px solid #f3f2f2;
}

.for-you {
}

.fleets-container {
	height: 6.25em;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #f3f2f2;
}

.fleets-container > .fleet {
	display: flex;
	justify-content: center;
	align-items: center;

	height: 3.75em;
	width: 3.75em;
	margin: 1.25em 0.45em;

	border: 1.5px solid;
	border-radius: 50%;
	background: none;
}

.fleet > .avatar-container .avatar-img {
	height: 3.6875em;
	width: 3.6875em;
	margin: 0.125em;
	border-radius: 6.25em;
	object-fit: cover;
}
