.repost-popup {
	position: relative;
	display: inline-block;

	display: none;
}

.quote-modal {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
	display: none;
}

.open {
	display: block;
}
.repost-modal-container {
	position: absolute;
	top: -2.19em; /* Adjust this value to position the modal relative to the button */
	left: -6em;

	width: 8.75em;
	height: 5em;

	background: #ffffff;
	box-shadow: 0px 2px 10px 2px rgba(126, 125, 125, 0.2);
	border-radius: 0.625em;
}

.repost-btn,
.quote-btn {
	display: flex;
	align-items: center;
	gap: 0.5em;
	width: 100%;
	height: 50%;
	padding-left: 0.81em;
}

.repost-btn > .icons,
.quote-btn > .icons {
	margin: 0;
}

.repost-btn > span,
.quote-btn > span {
	font-family: "Inter";
	font-style: normal;
	font-weight: 600;
	font-size: 0.86rem;
	/*line-height: 1.125rem;*/

	color: #3f4347;
	flex-grow: 1;
}

.quoting-container {
	position: relative;
	top: 10%;
	min-height: 7.06em;
	width: 30.5em;
	height: autos;
	padding: 1em;
	margin: auto;
	border-radius: 0.94em;
	background: #fff;
}

.quoting-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 1em;
}

.quoting-header .close-btn {
	width: 1.88em;
	height: 1.88em;
	border-radius: 6.25em;

	display: flex;
	align-items: center;
	justify-content: center;
}

.quoting-header .close-btn:hover {
	background: #edeaea;
}

.quoting-header div {
	display: flex;
	align-items: center;
	justify-content: center;
}

.draft-btn {
	padding: 0.5em 0.88em;
	border-radius: 6.25em;
}
.draft-btn:hover {
	padding: 0.5em 0.88em;
	border-radius: 6.25em;
	background: rgba(48, 161, 238, 0.2);
}
.draft-btn span {
	font-family: "Inter";
	font-style: normal;
	font-weight: 600;
	font-size: 1rem;
	line-height: 1.06rem;
	/* identical to box height */

	color: #30a1ee;
}

.quoting-wrapper {
	display: flex;
	gap: 1em;
}

.user-quoting {
	width: 2.81em;
	height: 2.81em;
	border-radius: 50%;
}

.user-quoting > .avatar-container .avatar-img {
	height: 2.81em;
	width: 2.81em;
	object-fit: cover;
	border-radius: 50%;
}

.quoting-form-container {
	flex-grow: 1;
}

.tweet-target {
	width: 6.69em;
	height: 1.5em;
	margin-bottom: 1em;
	border: 1px solid #d0d9dd;
	border-radius: 6.25em;

	display: flex;
	align-items: center;
	justify-content: center;
}

select {
	font-family: "Inter";
	font-style: normal;
	font-weight: 600;
	font-size: 0.88rem;
	line-height: 0.8rem;
	/* identical to box height */

	border: none;
	background: transparent;
	border-style: none;
	border-color: Transparent;
	color: #30a1ee;
}

.form > #text-input {
	font-family: "Inter";
	font-style: normal;
	font-weight: 500;
	font-size: 1.14rem;
	line-height: 1.38rem;

	color: #a6a5a5;
}

.selected-files,
.media-area {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}

.quoting-btn {
	display: flex;
	justify-content: space-between;
}

.quoting-btn > input {
	padding: 0.625em 1.125em;
	border-radius: 5.88em;

	border: none;
	cursor: pointer;
	background: #30a1ee;
	color: #fff;

	font-family: "Inter";
	font-style: normal;
	font-weight: 700;
	font-size: 0.96em;
	line-height: 1em;
}

#text-input {
	width: 95%;
	margin-bottom: 0.75em;
	height: auto;
	border: none;
	background: transparent;
	border-style: none;
	border-color: Transparent;
	overflow: auto;
	outline: none;

	word-wrap: break-word; /* For older browsers */
	overflow-wrap: break-word; /* For newer browsers */
	resize: none; /* Prevent resizing */

	font-family: "Inter";
	font-style: normal;
	font-weight: 500;
	font-size: 1.145rem;
	line-height: 1.375rem;
	color: #a6a5a5;
}

.quoted-post {
	border: 1px solid #d0d9dd;
	border-radius: 0.69em;
}
.quoted-post-wrapper {
	padding: 0.81em 0.71em;
}
.quoted-post-user {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 0.5em;
}
.quoted-post-user > .avatar-container .avatar-img {
	height: 1.5em;
	width: 1.5em;
	object-fit: cover;
	border-radius: 50%;
}

.quoted-post-user .avatar-container {
	display: flex;
	align-items: center;
}

.quoted-content {
	padding-top: 0.3em;
}
.quoted-content p {
	margin: 0;
}
.quoting-replies-audiences {
	display: flex;
	align-items: center;
	gap: 0.5em;
	margin-top: 0.5em;
}
.quoting-replies-audiences span {
	font-family: "Inter";
	font-style: normal;
	font-weight: 600;
	font-size: 0.88rem;
	line-height: 1.06rem;
	/* identical to box height */

	color: #30a1ee;
}
