.repost-popup {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: transparent; /* Fallback color */
	background-color: transparent; /* Black w/ opacity */
	display: none;
}

.quote-modal {
	display: flex;
	align-items: center;
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: transparent; /* Fallback color */
	background-color: transparent; /* Black w/ opacity */
	display: none;
}

.open {
	display: block;
}
.repost-modal-container {
	position: relative;
	top: 0;
	width: 5.19em;
	height: 7.5em;
	margin-left: 4em;
	border-radius: 0.94em;
	background: #0f0;
}
.quoting-container {
	display: flex;
	min-height: 7.06em;
	border-bottom: 1px solid #0f0;

	position: relative;
	top: 0;
	width: 30.5em;
	height: 20.19em;
	margin: auto;
	border-radius: 0.94em;
	background: #fff;
}

.user-quoting {
	width: 2.81em;
	height: 2.81em;
	border-radius: 50%;
	padding: 0.56em 1.06em 0 0.87em;
}

.user-quoting > .avatar-container .avatar-img {
	height: 2.81em;
	width: 2.81em;
	object-fit: cover;

	border-radius: 50%;
}

.form-container {
	max-width: 29.31em;
	flex-grow: 1;
}

.form > #text-input {
	font-family: "Inter";
	font-style: normal;
	font-weight: 500;
	font-size: 1.14em;
}

.selected-files {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}

.quoting-btn {
	display: flex;
	justify-content: space-between;
}

.quoting-btn > input {
	width: 4.56em;
	height: 2em;
	border-radius: 5.88em;

	background: #4a9cfd;
	color: #fff;

	font-family: "Inter";
	font-style: normal;
	font-weight: 700;
	font-size: 0.82em;
	line-height: 1em;
}

#text-input {
	resize: none;
	overflow: hidden;

	width: 95%;
	margin-top: 1.41em;
	margin-right: 1.26em;

	border: none;

	font-family: "Inter";
	font-style: normal;
	font-weight: 500;
	font-size: 1.145rem;
	line-height: 1.375rem;

	color: #a6a5a5;
}
